@media only screen and (max-width: 1042px) {
    .logo_links {
        width: 20%;
    }
    .links_sociol_icon {
        width: 80%;
    }
}
@media only screen and (max-width: 942px) {
    .logo_links {
        width: 15%;
    }
    .links_sociol_icon {
        width: 85%;
    }
}
@media only screen and (max-width: 872px) {
    .sociol_icon {
        gap: 20px;
    }
    .inp_sign_in {
        gap: 10px;
    }
    .img {
        width: 100vw;
    }
}
@media only screen and (max-width: 767px) {
    .links_sociol_icon {
        /* display: none; */
        height: 0;
        top: 100px;
        background-color: aqua;
        position: absolute;
        flex-direction: column;
        width: 100vw;
        transition: all 1s;
        opacity: 0;
        overflow: hidden;
    }
    .links_sociol_icon.active{
        height: 350px;
        opacity: 1;
    }
    .links, .inp_sign_in{
    }
    .links {
        flex-direction: column;
    }
    .inp_sign_in {
        margin: auto;
        flex-direction: column;
    }
    .sociol_icon {
        gap: 10px;
        margin-right: 0;
        justify-content: center;
    }
    .sign_in {
        margin-top: 20px;
    }
    .bars {
        display: block;
    }
    .img {
        width: 100vw;
    }
    .about .about_content {
        width: 100vw;
        padding: 10px;
    }
    .about .about_content h1 {
        margin: auto;
        text-align: center;
    }
    .about .about_content p {
        margin: 10px 15px;
    }
    .wraper {
        max-width: 100vw;
        padding: 0;
    }
    .banner_search {
        display: block;
        width: 100%;
        height: 170px;
        margin: 0;
        padding: 5px;
        position: relative;
    }
    .baner_search_right {
        width: 100%;
    }
    input[type="button"] {
        position: absolute;
        left: 43px;
        top: 85px;
        width: 50vw;
    }
    .container_box {
        width: 200px;
        height: 445px;
    }
    .content_box {
        padding: 7px;
    }
    .content_box h3 {
        font-size: 25px;
    }
    .profile {
        gap: 10px;
    }
    .right {
        font-size: 11px;
    }
    .Publisher {
        font-size: 15px;
    }
    .container_box img {
        width: 200px;
    }
    .container {
        gap: 15px;
        margin: 100px 15px 30px 15px;
    }
    .baner_search_right input[type="text"] {
        font-size: 23px;
    }
}
@media only screen and (max-width: 420px) {
    input[type="button"] {
        left: 0;
        width: 100vw;
        margin: auto;
    }
    .baner_search_right input[type="text"] {
        font-size: 19px;
    }

    .container_box {
        width: 80vw;
    }

    .container_box img {
        width: 80vw;
    }
}
